#resume {
  position: relative;
  max-width: 600px;
  font-size: 0.9em;
  color: #555555;
}

#resume h2,
#resume h3,
#resume h4,
#resume strong {
  font-weight: 800;
  color: var(--primary);
}

#resume h2 {
  font-size: 2em;
}
#resume h3 {
  margin-top: 24px;
  font-size: 1.5em;
}
#resume h4 {
  margin-top: 18px;
  font-size: 1.2em;
}

#resume a {
  padding-right: 20px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

#resume a.MuiButtonBase-root {
  margin: 20px auto;
  color: var(--secondary);
  white-space: nowrap;
}

#resume p {
  margin-top: 10px;
  margin-left: 16px;
}

#resume .heading p {
  margin-top: 0;
  font-size: 1em;
}

#resume li {
  margin: 6px 0 6px 16px;
  padding: 0 0 0 8px;
  border-left: 1px solid var(--secondary);
}

#resume svg {
  position: relative;
  top: 3px;
  margin-right: 6px;
}

#resume .heading svg {
  top: 4px;
  color: var(--primary);
}
