:root {
  --primary: rgb(37, 54, 136);
  --secondary: rgb(38, 214, 200);
  --primary-light-bg: rgb(194, 214, 249);
  --link: rgb(151, 130, 11);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
}

#portfolio {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
}

#portfolio .techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-bottom: 6px;
}

#portfolio a.git {
  text-decoration: none;
  color: var(--link);
  font-weight: 600;
}

#portfolio .MuiPaper-root {
  margin: 0 10px 20px;
  background-color: var(--primary-light-bg);
}

#portfolio .MuiCardHeader-root {
  background-color: var(--primary);
  color: white;
  padding: 10px;
}

#portfolio .MuiCardContent-root {
  padding: 6px 10px 10px;
}

#portfolio .MuiCardContent-root span {
  color: var(--primary);
  font-weight: 700;
  font-size: 0.9em;
  margin-right: 8px;
}

#portfolio .MuiButtonBase-root {
  padding-top: 0;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  letter-spacing: 0.2rem;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
}
