/* Variables */

:root {
  --primary: rgb(37, 54, 136);
  --secondary: rgb(38, 214, 200);
  --secondary-highlight: rgb(29, 183, 170);
  --primary-light-bg: rgb(78, 112, 171);
  --link: rgb(237, 206, 27);
  --dark-bg: rgb(58, 90, 144);
  --dark-secondary: rgb(24, 151, 140);
  --dark-text: rgb(193, 210, 243);
}

/* Top-level rules */

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding-bottom: 90px;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: white;
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

/* Sliding background */

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(70, 105, 201) 50%,
    rgb(32, 50, 120) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* Header rules */

.small h1 {
  margin-bottom: 0;
  font-size: 1.25em;
}

.big h1 {
  font-size: 2em;
}

/* Tab rules */

.MuiTabs-root {
  background-color: var(--secondary);
}

.MuiBox-root a.MuiButtonBase-root {
  color: var(--primary);
}

.App.small .MuiTabs-root,
.App.small .MuiTouchRipple-root {
  height: 36px;
  min-height: 36px;
}

.App.small .MuiBox-root a.MuiButtonBase-root {
  padding: 0;
  width: 60px;
  min-width: 80px;
  height: 36px;
  min-height: 38px;
  font-size: 0.7em;
}

a.MuiButtonBase-root.Mui-selected {
  background-color: var(--secondary-highlight);
  color: black;
}

/* Footer rules */

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.App.small footer {
  font-size: 0.8em;
}

footer .MuiStack-root {
  justify-content: space-around;
}

footer a.MuiTypography-root {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a.MuiTypography-root:hover {
  color: var(--secondary);
}

@media screen and (max-width: 375px) {
  header {
    background-color: var(--primary);
  }
  footer {
    padding: 15px 5px;
  }

  footer .MuiStack-root {
    justify-content: space-around;
  }

  footer .MuiStack-root a.MuiTypography-root {
    margin: 0;
  }

  section {
    max-width: 95%;
    margin: 20px 6px;
    padding: 20px 6px;
  }
}
