:root {
  --primary: rgb(37, 54, 136);
  --secondary: rgb(38, 214, 200);
  --primary-light-bg: rgb(78, 112, 171);
  --link: rgb(237, 206, 27);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding-bottom: 80px;
}

h1 {
  color: white;
  margin: 0;
  padding: 20px;
}

header {
  background-color: var(--primary);
}

.small h1 {
  font-size: 1.25em;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

.big h1 {
  font-size: 2em;
  text-align: center;
}

.links {
  display: flex;
  padding-left: 20px;
}

.links a {
  font-size: 0.8em;
  padding: 6px 10px 20px 0;
  text-decoration: none;
  color: white;
}

section {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 700px;
}

section#contact {
  max-width: 500px;
}

.MuiTabs-root {
  background-color: var(--primary);
}

#portfolio {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

#portfolio .techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-bottom: 6px;
}

#portfolio a.git {
  text-decoration: none;
  color: var(--link);
  font-weight: 600;
}

#portfolio .MuiPaper-root {
  margin: 0 auto 20px;
  background-color: var(--primary-light-bg);
  color: white;
  max-width: 320px;
}

#portfolio .MuiCardHeader-root {
  background-color: var(--primary);
  color: white;
  padding: 10px;
}

#portfolio .MuiCardContent-root {
  padding: 6px 10px 10px;
}

#portfolio .MuiCardContent-root p {
  color: white;
}
#portfolio .MuiCardContent-root span {
  color: var(--primary);
  font-weight: 700;
  font-size: 0.9em;
  margin-right: 8px;
}

#portfolio .MuiButtonBase-root {
  padding-top: 0;
}

#portfolio .MuiButtonBase-root svg {
  color: white;
}

#contact .MuiFormControl-root {
  padding: 0;
  width: 100%;
  margin: 5px 0;
}

#materials {
  text-align: center;
}

#materials a {
  width: 250px;
  display: block;
  margin: 10px auto;
}

.MuiBox-root a.MuiButtonBase-root {
  color: white;
}

.App.small .MuiBox-root a.MuiButtonBase-root {
  padding: 0;
  font-size: 0.7em;
  width: 60px;
}

a.MuiButtonBase-root.Mui-selected {
  color: var(--secondary);
}

img.headshot {
  width: 100px;
  float: left;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  letter-spacing: 0.2rem;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
}
