#portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

#portfolio .techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-bottom: 6px;
}

#portfolio a.git {
  text-decoration: none;
  color: var(--link);
  font-weight: 600;
}

#portfolio .MuiPaper-root {
  margin: 0 auto 20px;
  min-width: 280px;
  max-width: 600px;
  width: 85%;
  background-color: var(--primary-light-bg);
  color: white;
}

#portfolio .MuiCardHeader-root {
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border-bottom: 1px solid white;
}

#portfolio .MuiCardContent-root {
  padding: 6px 10px 10px;
  border-top: 1px solid white;
}

#portfolio .MuiCardContent-root p {
  color: white;
}
#portfolio .MuiCardContent-root span {
  margin-right: 8px;
  color: var(--primary);
  font-weight: 700;
  font-size: 0.9em;
}

#portfolio .MuiButtonBase-root {
  padding-top: 0;
}

#portfolio .MuiButtonBase-root svg {
  color: white;
}

#portfolio .banner {
  height: 300px;
}

#portfolio .projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#portfolio .banner h1 {
  margin: 0 30px;
  font-weight: 100;
  font-size: 2.5em;
  text-shadow: 0 0 8px black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  color: black;
  z-index: 10;
}

@media screen and (max-width: 375px) {
  #portfolio .MuiPaper-root {
    margin: 0 auto 20px;
    min-width: 280px;
    max-width: 600px;
    width: 100%;
    background-color: var(--primary-light-bg);
    color: white;
  }

  #portfolio .description {
    width: 100%;
  }
}
